[Desktop Entry]
Name=Calendar
Name[ca]=Calendar
Name[cs]=Calendar
Name[de]=Kalender
Name[el]=Calendar
Name[es]=Calendario
Name[it]=Calendario
Name[fi]=Kalifornia
Name[fr]=calendrier
Name[gl]=Calendar
Name[he]=Calendar
Name[hu]=Calendar
Name[pl]=Calendar
Name[pt_BR]=Califórnia
Name[sl]=Calendar
Name[sr]=Калифорнија
Name[sr@latin]=Calendar
Name[sv]=Calendar
Name[uk]=Каліфорнія
Comment=Infinity OS Calendar
Comment[ca]=Calendari del GNOME 3
Comment[cs]=Kalendář GNOME
Comment[de]=GNOME 3 Kalender
Comment[el]=Ημερολόγιο του GNOME 3
Comment[he]=לוח שנה מבית GNOME 3
Comment[pl]=Kalendarz dla środowiska GNOME 3
Comment[pt_BR]=Agenda do GNOME 3
Keywords=Event;Events;Schedule;
Keywords[ca]=Cita;Cites;Planifica;
Keywords[cs]=událost;události;plánování;plán;
Keywords[de]=Ereignis;Ereignisse;Planung;Kalender;
Keywords[el]=Event;Events;Schedule;Συμβάν;Συμβάντα;Εκδηλώσεις;Πρόγραμμα;
Keywords[he]=אירוע;אירועים;לוח זמנים;לו״ז;
Keywords[pl]=Wydarzenie;Wydarzenia;Zdarzenie;Zdarzenia;Plan;Terminarz;Harmonogram;
Keywords[pt_BR]=Evento;Eventos;Agendamentos;
Exec=Calendar %u
TryExec=Calendar
Terminal=false
Type=Application
Icon=x-office-calendar
StartupNotify=true
Categories=GNOME;GTK;Office;Calendar;
MimeType=text/calendar;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=Calendar
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=0.1.1
