[Desktop Entry]
Version=1.0
Name=Messanger
GenericName=IM Client
X-GNOME-FullName=Empathy Internet Messaging
Comment=Chat on Google Talk, Facebook, MSN and many other chat services
Keywords=chat;talk;im;message;irc;voip;gtalk;facebook;jabber;
Keywords[an]=chat;talk;im;message;irc;voip;gtalk;facebook;jabber;
Keywords[ar]=دردشة;محادثة;رسالة;
Keywords[as]=chat;talk;im;message;irc;voip;gtalk;facebook;jabber;
Keywords[be]=чат;гутарка;размова;размаўляць;паведамленне;irc;voip;голас;gtalk;facebook;jabber;
Keywords[ca]=xat;parla;missatgeria instantània;missatge;irc;veuip;gtalk;facebook;jabber;
Keywords[ca@valencia]=xat;parla;missatgeria instantània;missatge;irc;veuip;gtalk;facebook;jabber;
Keywords[crh]=suhbet;qonuşma;am;im;mesaj;irc;ipüs;voip;gtalk;facebook;jabber;
Keywords[cs]=chat;diskuse;pokec;im;rychlé zprávy;zpráva;irc;voip;gtalk;facebook;jabber;
Keywords[da]=chat;tale;im;besked;irc;vopi;gtalk;gacebook;jabber;kvikbesked;lynbesked;snak;
Keywords[de]=chat;gespräch;im;nachrichten;irc;voip;gtalk;facebook;jabber;
Keywords[el]=συνομιλία;συζήτηση;im;μήνυμα;irc;voip;gtalk;facebook;jabber;
Keywords[en_GB]=chat;talk;im;message;irc;voip;gtalk;facebook;jabber;
Keywords[es]=chat;hablar;im;mensajería instantánea;mensaje;irc;voip;gtalk;facebook;jabber;
Keywords[et]=vestlus;jutukas;jututuba;kiirsõnumid;irc;voip;gtalk;facebook;jabber;
Keywords[eu]=berriketa;bm;mezua;hitzegin;irc;voip;gtalk;facebook;jabber;
Keywords[fa]=chat;talk;im;message;irc;voip;gtalk;facebook;jabber;گپ;گفتگو;پیام رسان;پیام;فیس‌بوک;
Keywords[fi]=chat;talk;im;message;irc;voip;gtalk;facebook;jabber;keskustelu;viesti;pikaviestin;
Keywords[fr]=discussion;messagerie instantanée;irc;voip;téléphonie;gtalk;facebook;jabber;
Keywords[ga]=comhrá;caint;im;teachtaireacht;irc;voip;gtalk;facebook;jabber;
Keywords[gl]=chat;conversa;mi;mensaxe;irc;voz ip;gtalk;facebook;jabber;
Keywords[gu]=chat;talk;im;message;irc;voip;gtalk;facebook;jabber;
Keywords[he]=שיחה;דיבור;דיון;im;הודעה;irc;voip;gtalk;facebook;jabber;
Keywords[hi]=chat;talk;im;message;irc;voip;gtalk;facebook;jabber;
Keywords[hu]=chat;talk;im;irc;voip;gtalk;facebook;jabber;cset;csevegés;társalgás;üzenet;azonnali;
Keywords[id]=mengobrol;bicara;im;pesan;irc;voip;gtalk;facebook;jabber;
Keywords[it]=chat;talk;im;messaggi;messaggio;irc;voip;gtalk;facebook;jabber;parlare;chiacchierare;
Keywords[ja]=chat;talk;im;message;irc;voip;gtalk;facebook;jabber;チャット;トーク;インスタントメッセージング;インスタントメッセンジャー;IP電話;フェイスブック;XMPP;Google Talk;
Keywords[kn]=chat;talk;im;message;irc;voip;gtalk;facebook;jabber;
Keywords[ko]=chat;채팅;talk;대화;im;메신저;message;메시지;irc;voip;gtalk;지톡;지토크;facebook;페이스북;jabber;재버;
Keywords[lt]=pokalbiai;pranešimai;žinutės;irc;voip;gtalk;facebook;jabber;
Keywords[lv]=tērzēt;runāt;tz;ziņojumi;irc;voip;gtalk;facebook;jabber;
Keywords[ml]=chat;talk;im;message;irc;voip;gtalk;facebook;jabber;
Keywords[mr]=चॅट;टॉक;im;मेसेज;irc;voip;जिटॉक;फेसबूक;जॅबर;
Keywords[nb]=prat;snakk;im;melding;irc;voip;gtalk;facebook;jabber;
Keywords[or]=chat;talk;im;message;irc;voip;gtalk;facebook;jabber;
Keywords[pa]=ਗੱਲਬਾਤ;ਗੱਲਾਂ;ਚੈਟ;ਆਈਐਮ;ਸਲਾਹਾਂ;ਵਿਚਾਰ;ਆਈਆਰਸੀ;ਜੀਟਾਕ;ਫੇਸਬੁੱਕ;ਜੱਬਰ;ਸੁਨੇਹਾ;ਸੁਨੇਹੇ;chat;talk;im;message;irc;voip;gtalk;facebook;jabber;
Keywords[pl]=rozmowa;chat;czat;komunikator;im;wiadomość;gadu;irc;voip;gtalk;facebook;jabber;
Keywords[pt]=diálogo;conversa;im;mensagem;irc;voip;gtalk;facebook;jabber;
Keywords[pt_BR]=bate-papo;conversar;im;mensageiro instantâneo;mensagem;irc;voip;gtalk;facebook;jabber;
Keywords[ru]=чат;беседа;сообщение;chat;talk;im;message;irc;voip;gtalk;facebook;jabber;
Keywords[sk]=chat;im;irc;voip;gtalk;facebook;jabber;komunikovať;komunikácia;rozhovor;hovor;videohovor;telefonovanie;
Keywords[sl]=hipno;klepet;pogovor;sporočilo;irc;voip;gtalk;facebook;jabber;
Keywords[sr]=ћаскање;разговор;бп;им;порука;ирц;воип;гразговор;фејсбук;џабер;
Keywords[sr@latin]=ćaskanje;razgovor;bp;im;poruka;irc;voip;grazgovor;fejsbuk;džaber;
Keywords[ta]=அரட்டை;பேச்சு;செய்தி;ஐஆர்சி;வாய்ப்;ஜிடாக்;பேஸ்புக்;ஜாபர்;
Keywords[te]=chat;talk;im;message;irc;voip;gtalk;facebook;jabber;
Keywords[tr]=chat;sohbet;konuşma;im;mesaj;ileti;irc;voip;gtalk;facebook;jabber;
Keywords[ug]=chat;talk;im;message;irc;voip;gtalk;facebook;jabber;سۆھبەت;پاراڭ;مۇڭداشقۇ;ئۇچۇر;
Keywords[uk]=балачка;чат;переписування;повідомлення;irc;voip;gtalk;facebook;jabber;
Keywords[zh_CN]=chat;talk;im;message;irc;voip;gtalk;facebook;jabber;聊天;消息;即时通讯;通话;视频;
Keywords[zh_HK]=chat;talk;im;message;irc;voip;gtalk;facebook;jabber;聊天;訊息;即時通;談話;對話;交談;
Keywords[zh_TW]=chat;talk;im;message;irc;voip;gtalk;facebook;jabber;聊天;訊息;即時通;談話;對話;交談;
Exec=empathy
Icon=empathy
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Network;InstantMessaging;
X-GNOME-UsesNotifications=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=empathy
X-GNOME-Bugzilla-Component=General
X-GNOME-Bugzilla-Version=3.12.18
X-MessagingMenu-UsesChatSection=true
Actions=Hidden;Prefs;Accounts;
X-Ubuntu-Gettext-Domain=empathy

[Desktop Action Hidden]
Name=Open Hidden in Background
Exec=empathy -h
NotShowIn=Messaging Menu

[Desktop Action Prefs]
Name=Open Preferences
Exec=empathy -p
NotShowIn=Messaging Menu

[Desktop Action Accounts]
Name=Open Accounts
Exec=gnome-control-center credentials
NotShowIn=Messaging Menu
