[Desktop Entry]
Name=PDF Viewer
Comment=View multi-page documents
Keywords=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;
Keywords[an]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;
Keywords[ar]=pdf;ps;بوستسكربت;dvi;xps;djvu;tiff;مستند;عرض;
Keywords[as]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;
Keywords[be]=pdf;ps;postscript;dvi;xps;djvu;tiff;дакумент;прэзентацыя;
Keywords[bg]=документ;презентация;pdf;ps;postscript;dvi;xps;djvu;tiff;
Keywords[ca]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentació;
Keywords[ca@valencia]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentació;
Keywords[cs]=pdf;ps;postscript;postskript;dvi;xps;djvu;tiff;dokument;prezentace;
Keywords[da]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokument;præsentation;
Keywords[de]=pdf;ps;postscript;dvi;xps;djvu;tiff;Dokument;Präsentation;
Keywords[el]=pdf;ps;postscript;dvi;xps;djvu;tiff;έγγραφο;παρουσίαση;
Keywords[en_GB]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;
Keywords[eo]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokumento;prezentaĵo;
Keywords[es]=pdf;ps;postscript;dvi;xps;djvu;tiff;documento;presentación;
Keywords[et]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokument;dokumendid;esitlused;
Keywords[eu]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokumentua;aurkezpena;
Keywords[fa]=pdf;ps;postscript;dvi;xps;djvu;tiff;سند;ارائه;
Keywords[fi]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;asiakirja;esitys;
Keywords[fr]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;présentation;
Keywords[gd]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;sgrìobhainn;taisbeanadh;
Keywords[gl]=pdf;ps;postscript;dvi;xps;djvu;tiff;documento;presentación;
Keywords[gu]=pdf;ps;postscript;dvi;xps;djvu;tiff;દસ્તાવેજ;રજૂઆત;
Keywords[he]=pdf;ps;פוסטסקריפט;dvi;xps;djvu;tiff;מסמך;מצגת;
Keywords[hi]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;
Keywords[hu]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokumentum;prezentáció;bemutató;
Keywords[id]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokumen;presentasi;
Keywords[it]=pdf;ps;postscript;dvi;xps;djvu;tiff;documento;presentazione;
Keywords[ja]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;ポストスクリプト;ドキュメント;文書;プレゼンテーション;
Keywords[kk]=pdf;ps;postscript;dvi;xps;djvu;tiff;құжат;презентация;
Keywords[kn]=pdf;ps;ಪೋಸ್ಟ್‍ಸ್ಕ್ರಿಪ್ಟ್‍;dvi;xps;djvu;tiff;ದಸ್ತಾವೇಜು;ಪ್ರಸ್ತುತಿ;
Keywords[ko]=pdf;ps;postscript;포스트스크립트;dvi;xps;djvu;tiff;document;문서;presentation;프리젠테이션;
Keywords[lt]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokumentas;pateiktis;prezentacija;
Keywords[lv]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokuments;prezentācija;
Keywords[ml]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;
Keywords[mr]=pdf;ps;पोस्टस्क्रिप्ट;dvi;xps;djvu;tiff;डॉक्युमेंट;प्रेजेंटेशन;
Keywords[nb]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokument;presentasjon;
Keywords[nl]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;presentatie;
Keywords[or]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;
Keywords[pa]=ਪੀਡੀਐਫ;ਪੋਸਟਸਕ੍ਰਿਪਟ;ਡੀਵੀਆਈ;ਡੌਕੂਮੈਂਟ;ਪਰਿਜੈਂਟੇਸ਼ਨ;pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;
Keywords[pl]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokument;prezentacja;
Keywords[pt]=pdf;ps;postscript;dvi;xps;djvu;tiff;documento;apresentação;
Keywords[pt_BR]=pdf;ps;postscript;dvi;xps;djvu;tiff;documento;apresentação;
Keywords[ru]=pdf;ps;postscript;dvi;xps;djvu;tiff;документ;презентация;
Keywords[sk]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokument;prezentácia;
Keywords[sl]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokument;predstavitev;
Keywords[sr]=пдф;пс;пост-скрипт;дви;икспс;дежави;тифф;документ;презентација;приказивање;
Keywords[sr@latin]=pdf;ps;post-skript;dvi;iksps;dežavi;tiff;dokument;prezentacija;prikazivanje;
Keywords[ta]=பிடிஎஃப்;போஸ்ட்ஸ்க்ரிப்ட்;டிவிஐ;எக்ஸ்பிஎஸ்;டிஃப்;ஆவணம்;முன் வைப்பு;
Keywords[te]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;
Keywords[tg]=pdf;ps;хабари тоза;dvi;xps;djvu;tiff;ҳуҷҷат;тақдим;
Keywords[th]=pdf;ps;โพสต์สคริปต์;dvi;xps;djvu;tiff;เอกสาร;งานนำเสนอ;
Keywords[tr]=pdf;ps;postscript;dvi;xps;djvu;tiff;belge;sunum;
Keywords[ug]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;پۈتۈك;سۇنۇلما;
Keywords[uk]=pdf;ps;postscript;dvi;xps;djvu;tiff;документ;презентація;
Keywords[vi]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;tài;liệu;tai;lieu;presentation;trình;diễn;trinh;dien;
Keywords[zh_CN]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;文档;演示;幻灯;
Keywords[zh_HK]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;文件;簡報;
Keywords[zh_TW]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;文件;簡報;
TryExec=evince
Exec=evince %U
StartupNotify=true
Terminal=false
Type=Application
Icon=evince
X-GNOME-DocPath=
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=evince
X-GNOME-Bugzilla-Component=BugBuddyBugs
X-GNOME-Bugzilla-Version=3.12.1
Categories=GNOME;GTK;Office;Viewer;Graphics;2DGraphics;VectorGraphics;
MimeType=application/pdf;application/x-bzpdf;application/x-gzpdf;application/x-xzpdf;application/postscript;application/x-bzpostscript;application/x-gzpostscript;image/x-eps;image/x-bzeps;image/x-gzeps;application/x-dvi;application/x-bzdvi;application/x-gzdvi;image/vnd.djvu;image/tiff;application/x-cbr;application/x-cbz;application/x-cb7;application/x-cbt;application/oxps;application/vnd.ms-xpsdocument;
X-Ubuntu-Gettext-Domain=evince
