[Desktop Entry]
Name=Mail
Name[cs]=Mail
Name[de]=Mail
Name[el]=Mail
Name[es]=Mail
Name[fi]=Mail
Name[fr]=Mail
Name[gl]=Mail
Name[he]=Mail
Name[id]=Mail
Name[it]=Mail
Name[lt]=Mail
Name[pl]=Mail
Name[pt_BR]=Mail
Name[sl]=Mail
Name[sr]=Зупчинко
Name[sr@latin]=Zupčinko
Name[sv]=Mail
Name[uk]=Mail
Name[zh_CN]=Mail 邮件
Name[zh_TW]=Mail
GenericName=Mail Client
GenericName[ar]=برنامج البريد
GenericName[ca]=Client de correu
GenericName[cs]=Poštovní klient
GenericName[da]=Mailklient
GenericName[de]=Mail-Client
GenericName[el]=Πελάτης αλληλογραφίας
GenericName[en_CA]=Mail Client
GenericName[en_GB]=Mail Client
GenericName[eo]=Retpoŝtilo
GenericName[es]=Cliente de correo
GenericName[et]=Meili klient
GenericName[fa]=نرم افزار ایمیل
GenericName[fi]=Sähköpostisovellus
GenericName[fr]=Client de messagerie
GenericName[gl]=Cliente de correo
GenericName[he]=לקוח דוא״ל
GenericName[hr]=Klijent za e-mail
GenericName[hu]=Levelezőkliens
GenericName[id]=Klien Surat
GenericName[it]=Client di posta
GenericName[ja]=メールクライアント
GenericName[km]=កម្ម​វិធី​ផ្ញើ​អ៊ីមែល
GenericName[lt]=Pašto klientas
GenericName[ms]=Klien Mel
GenericName[nb]=Epost klient
GenericName[nl]=E-mailprogramma
GenericName[pl]=Klient poczty
GenericName[pt]=Cliente de correio eletrónico
GenericName[pt_BR]=Cliente de e-mail
GenericName[ro]=Client de email
GenericName[ru]=Почтовый клиент
GenericName[sk]=Poštový klient
GenericName[sl]=Poštni klient
GenericName[sr]=Програм за ел. пошту
GenericName[sr@latin]=Program za el. poštu
GenericName[sv]=E-postklient
GenericName[te]=వేగు కక్షిదారు
GenericName[tr]=Posta İstemcisi
GenericName[uk]=Поштовий клієнт
GenericName[vi]=Mail máy trạm
GenericName[zh_CN]=邮件客户端
GenericName[zh_TW]=郵件客戶端
X-GNOME-FullName=Mail
X-GNOME-FullName[ar]=بريد Mail
X-GNOME-FullName[ca]=Mail
X-GNOME-FullName[cs]=Pošta Mail
X-GNOME-FullName[da]=Mail
X-GNOME-FullName[de]=Mail
X-GNOME-FullName[el]=Αλληλογραφία Mail
X-GNOME-FullName[en_CA]=Mail
X-GNOME-FullName[en_GB]=Mail
X-GNOME-FullName[eo]=Mail
X-GNOME-FullName[es]=Correo Mail
X-GNOME-FullName[et]=Mail
X-GNOME-FullName[fa]=Mail
X-GNOME-FullName[fi]=Mail-sähköposti
X-GNOME-FullName[fr]=Messagerie Mail
X-GNOME-FullName[gl]=Correo Mail
X-GNOME-FullName[he]=דואר אלקטרוני Mail
X-GNOME-FullName[hr]=Mail
X-GNOME-FullName[hu]=Mail
X-GNOME-FullName[id]=Surat Mail
X-GNOME-FullName[it]=Mail
X-GNOME-FullName[ja]=Mail
X-GNOME-FullName[km]=Mail
X-GNOME-FullName[lt]=Mail
X-GNOME-FullName[ms]=Mel Mail
X-GNOME-FullName[nb]=Mail Epost
X-GNOME-FullName[nl]=Mail
X-GNOME-FullName[pl]=Klient poczty Mail
X-GNOME-FullName[pt]=Mail
X-GNOME-FullName[pt_BR]=Correio eletrônico - Mail
X-GNOME-FullName[ro]=Mail
X-GNOME-FullName[ru]=Mail
X-GNOME-FullName[sk]=Mail
X-GNOME-FullName[sl]=Mail
X-GNOME-FullName[sr]=Зупчинкова пошта
X-GNOME-FullName[sr@latin]=Zupčinkova pošta
X-GNOME-FullName[sv]=Mail
X-GNOME-FullName[te]=గేరీ వేగు
X-GNOME-FullName[tr]=Mail Posta
X-GNOME-FullName[uk]=Пошта Mail
X-GNOME-FullName[vi]=Dịch vụ Mail
X-GNOME-FullName[zh_CN]=Mail 邮件
X-GNOME-FullName[zh_TW]=Mail 郵件
Comment=Send and receive email
Comment[ar]=ارسال و استقبال البريد الالكتروني
Comment[ca]=Envieu y rebeu correus electrònics
Comment[cs]=Odesílat a přijímat e-maily
Comment[da]=Send og modtag email
Comment[de]=Senden und empfangen
Comment[el]=Αποστολή και λήψη ηλεκτρονικού ταχυδρομείου
Comment[en_CA]=Send and receive e-mail
Comment[en_GB]=Send and receive e-mail
Comment[eo]=Sendi kaj ricevi retpoŝton
Comment[es]=Envíe y reciba correos electrónicos
Comment[et]=Send and receive email
Comment[fa]=ارسال و دریافت ایمیل‌ها
Comment[fi]=Lähetä ja vastaanota sähköpostia
Comment[fr]=Envoyer et recevoir des courriels
Comment[gl]=Enviar e recibir correo
Comment[he]=שליחה וקבלה של דוא״ל
Comment[hr]=Primanje i slanje pošte
Comment[hu]=E-mailek küldése és fogadása
Comment[id]=Kirim dan terima surel
Comment[it]=Invia e ricevi email
Comment[ja]=送受信
Comment[km]=ផ្ញើ​និង​ទទួល​អ៊ីមែល
Comment[lt]=Siųsti ir gauti paštą
Comment[ms]=Hantar dan terima emel
Comment[nb]=Send og motta epost
Comment[nl]=E-mail verzenden en ontvangen
Comment[pl]=Wysyłanie i odbieranie wiadomości e-mail
Comment[pt]=Enviar e receber mensagens
Comment[pt_BR]=Enviar e receber e-mail
Comment[ro]=Trimite si primeste email
Comment[ru]=Отправить и получить почту
Comment[sk]=Odoslať a prijať poštu
Comment[sl]=Pošlji in prejmi epošto
Comment[sr]=Шаљите и примајте пошту
Comment[sr@latin]=Šaljite i primajte poštu
Comment[sv]=Skicka och ta emot e-post
Comment[tr]=Eposta gönder ve al
Comment[uk]=Надіслати та одержати пошту
Comment[zh_CN]=发送并接收邮件
Comment[zh_TW]=寄送與收受郵件
Keywords=Email;E-mail;Mail;
Keywords[cs]=email;e-mail;mail;pošta;e-pošta;
Keywords[da]=Email;E-mail;Mail;Post;
Keywords[de]=Email;E-Mail;Mail;
Keywords[el]=μήνυμα;ηλεκτρονικό ταχυδρομείο;αλληλογραφία;Email;E-mail;Mail;
Keywords[en_GB]=Email;E-mail;Mail;
Keywords[es]=email;e-mail;correo electrónico;correo-e;
Keywords[fa]=Email;E-mail;Mail;
Keywords[fi]=Email;E-mail;Mail;Sähköposti;Maili;
Keywords[fr]=Email;E-mail;Messagerie;Courriels;
Keywords[gl]=Correo electrónico;Correo-e;Correo;
Keywords[he]=דוא״ל;דואר אלקטרוני;דואר;
Keywords[hr]=Epošta;E-pošta;Pošta;
Keywords[id]=Surel;Surat;Email;E-mail;
Keywords[it]=Email;E-mail;Mail;Posta;
Keywords[lt]=Paštas;Paštas;Paštas;
Keywords[ms]=Emel;E-mel;Mel;
Keywords[nl]=Email;E-mail;Mail;
Keywords[pl]=Email;E-mail;Mail;Poczta;Skrzynka;Wiadomość;Wiadomości;mejl;majl;
Keywords[pt]=Email;E-mail;Mail;
Keywords[pt_BR]=Email;E-mail;Mail;Correio eletrônico;e-mails;mensagens;
Keywords[ro]=Email;E-mail;Mail;
Keywords[sl]=Epošta;E-pošta;Pošta;
Keywords[sr]=пошта;електронска пошта;ел. пошта;
Keywords[sr@latin]=pošta;elektronska pošta;el. pošta;
Keywords[sv]=Email;E-mail;Mail;Epost;E-Post;
Keywords[uk]=Пошта;Лист;
Keywords[zh_CN]=Email;E-mail;Mail;电子邮件;邮件;邮箱;
Keywords[zh_TW]=Email;E-mail;Mail;電子郵件;電郵;郵件;信件;收信;寄信;
Icon=geary
TryExec=geary
Exec=geary %U
Type=Application
Terminal=false
Categories=GNOME;GTK;Network;Email;
MimeType=x-scheme-handler/mailto;
StartupNotify=true
Actions=Compose;

[Desktop Action Compose]
Name=Compose Message
Name[ar]=اكتب رسالة جديدة
Name[ca]=Redacta un missatge
Name[cs]=Napsat zprávu
Name[da]=Skriv besked
Name[de]=Nachricht verfassen
Name[el]=Σύνθεση μηνύματος
Name[en_CA]=Compose Message
Name[en_GB]=Compose Message
Name[eo]=Verki mesaĝon
Name[es]=Redactar mensaje
Name[et]=Koosta uus kiri
Name[fa]=ارسال ایمیل
Name[fi]=Lähetä viesti
Name[fr]=Écrire un message
Name[gl]=Redactar unha mensaxe
Name[he]=יצירת הודעה
Name[hr]=Pisanje poruke
Name[hu]=Üzenet írása
Name[id]=Susun Pesan
Name[it]=Componi messaggio
Name[ja]=メッセージを作成
Name[km]=តែង​សារ
Name[lt]=Rašyti žinutę
Name[ms]=Gubah Mesej
Name[nb]=Ny melding
Name[nl]=Bericht opstellen
Name[pl]=Utwórz wiadomość
Name[pt]=Escrever mensagem
Name[pt_BR]=Escrever mensagem
Name[ro]=Compune Mesaj
Name[ru]=Создать сообщение
Name[sk]=Napísať správu
Name[sl]=Sestavi sporočilo
Name[sr]=Саставите поруку
Name[sr@latin]=Sastavite poruku
Name[sv]=Skriv meddelande
Name[te]=సందేశాన్ని సృష్టించండి
Name[tr]=İleti oluştur
Name[uk]=Скласти лист
Name[vi]=Soạn tin nhắn
Name[zh_CN]=撰写邮件
Name[zh_TW]=編撰訊息
Exec=Mailto:
OnlyShowIn=X-Messaging Menu;Unity;

